{% extends "menu.html" %}

{% block title %}MK7 PP Deluxe{% endblock %}
{% block extra_head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}
{% block body %}
    <h2>The Mario Kart 7 Player's Page, Improved</h2>
    <hr>
    <p>View player profiles as well as leaderboards in an improved and modern look.</p>
    <p>Get started using the navigation menu on top of the screen!</p>
    <img class="bigpic" src="{{ url_for('static', filename='img/example.png') }}" alt="Example player profile">
    <hr>
    <p class="italien">This is a community-made site and is not related to the original PP.</p>
    <p class="italien">If you're looking for the real PP, right here : <a href="https://www.mariokart64.com/mk7/" target="_blank">https://www.mariokart64.com/mk7/</a></p>
{% endblock %}
